.listGroup {
    list-style: none;
    padding: 0;
    margin: 25px;
}

.listGroupItem {
    padding: 8px 10px;
    border-bottom: 2px solid #e5e5e5;
}

.listGroupItem:hover {
    background-color: cornflowerblue;
}

.container {
    background: yellowgreen;
}